@model ArticleVM

    <link rel="stylesheet" href="~/css/Student/ArticleView.css">

    <div class="content clearfix">
        <div class="main-content">
            <div class="article">
                <i class="far fa-user">@Model.Magazines.Title</i>
                &nbsp;
                <i class="far calendar">@Model.FormattedModifyDate</i>
                <div class="recent-post-title">
                    <h1>@Model.article.Title</h1>
                </div>
                <div class="subTitle">
                    <h3>@Model.article.SubTitle</h3>
                </div>
                <div class="userImg">
                     <img src="~/img/articleImg/" alt="User Image">
                </div>
                <div class="userName">
                    <i>@Model.User.Name</i>
                </div>
                
                <div class="post">
                    <img class="post-image" src="/img/articleImg/b52c5a02-a75d-44c8-9053-6a9d5f194927.jpg" alt="Thumbnail">
                    <div class="post-content">
                        <!-- Hiển thị nội dung của bài báo -->
                        @Html.Raw(Model.article.Body)
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <img class="sidebar-image" src="~/css/Student/logo_greenwich.png" alt="Italian Trulli">

            <form method="post">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
            
            </form>
            <div>
                <h1 class="sidebar-title">Term</h1>
                <div class="select-article">
                    <select asp-for="@Model.article.ModifyDate" asp-items="@Model.MonthYearOptions"></select>
                </div>
                <h1 class="sidebar-title">Faculty</h1>
                <div class="select-article">
                    <select asp-for="@Model.article.ModifyDate" asp-items="@Model.MonthYearOptions"></select>
                </div>
                <h1 class="sidebar-title">Magazine</h1>
                <div class="select-article">
                    <select asp-for="@Model.article.ModifyDate" asp-items="@Model.MonthYearOptions"></select>
                </div>
            </div>
        </div>
        
    </div>

