@using GreenwichUniversityMagazine.Models.ViewModel
@model OverviewVM

<link rel="stylesheet" href="~/css/Manager/Overview.css" />
<div class="dashboard">
    <div class="dashboard-header">
        <img src="~/css/Manager/Filter/gw.jpg" class="header-background-image" />
        <h1 class="dashboard-header-title">Dashboard Manager</h1>
        <div class="sorting-items">
            <div class="sorting-items-container">
                <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview">
                    <img src="~/css/Manager/Filter/filter.png" />
                    <h4>Filter</h4>
                </a>
            </div>
            <div class="sorting-items-container">
                <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview" asp-route-rangeSort="2">
                    <h4>Last 2 terms</h4>
                </a>
            </div>
            <div class="sorting-items-container">
                <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview" asp-route-rangeSort="4">
                    <h4>Last 4 terms</h4>
                </a>
            </div>
            <div class="sorting-items-container">
                <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview" asp-route-rangeSort="6">

                    <h4>Last 6 terms</h4>
                </a>
            </div>
            <div class="sorting-items-container">
                <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview" asp-route-rangeSort="8">

                    <h4>Last 8 terms</h4>
                </a>
            </div>
            <div class="sorting-items-container">
                <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview" asp-route-rangeSort="12">

                    <h4>Last 12 terms</h4>
                </a>
            </div>
            <div class="sorting-items-container">
                <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview" asp-route-rangeSort="-1">
                    <h4>View All</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="div2">
        <h3 class="chart-name">Total Contributions for each Terms</h3>
        <canvas id="LineChartTotalContributions"
                style="width: 100%"></canvas>
    </div>
    <div class="exception-doughnut-container">
        <h3 class="chart-name">Exceptions</h3>
        <canvas id="exception-doughnut-chart" style="width:100%;height:70%"></canvas>
    </div>
    <div class="div4">
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-contributions-title">@Model.ChartDataList[5].sumContributions</h1>
                <h4>Contributions</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/contributions.png" />
            </div>
        </div>
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-comment-title">@Model.ChartDataList[5].sumComments</h1>
                <h4>Comments</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/comments.png" />
            </div>
        </div> <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-unapprovedArticles-title">@Model.ChartDataList[5].sumUnapproved</h1>
                <h4>Unapproved</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/unapprovedArticles.png" />
            </div>
        </div>
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-exceptions-title">16.000</h1>
                <h4>Exceptions</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/exception.png" />
            </div>
        </div>
    </div>
    <div class="div5">
        <h3 class="chart-name">Total contributors of each Faculties</h3>
        <canvas id="GroupBarChartContributers"
                style="width: 100%"></canvas>
    </div>
    <div class="div6">
        <h3 class="chart-name">Total contributions of each Faculties</h3>
        <canvas id="LineChartContributions"
                style="width: 100%"></canvas>
    </div>
    <div class="dashboard-sidebar">
        <a href="/">
            <img src="~/css/Manager/home.svg" />
            <h4>Home</h4>
        </a>
        <a asp-area="Manager" asp-controller="DashBoard" asp-action="Overview">
            <img src="~/css/Manager/overview.svg" />
            <h4>Overview</h4>
        </a>
        <a href="/">
            <img src="~/css/Manager/term.svg" />
            <h4>Terms</h4>
        </a>
        <a href="/">
            <img src="~/css/Manager/exception.svg" />
            <h4>Exception</h4>
        </a>
    </div>
    <div class="div8">
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-students-title">@Model.ChartDataList[5].sumStudents</h1>
                <h4>Students</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/student.png" />
            </div>
        </div>
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-magazine-title">@Model.ChartDataList[5].sumMagazines</h1>
                <h4>Magazine</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/magazine.png" />
            </div>
        </div>
        <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-contributors-title">@Model.ChartDataList[5].sumContributors</h1>
                <h4>Contributors</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/contributors.png" />
            </div>
        </div>  <div class="widget-container">
            <div class="widget-data">
                <h1 class="widget-faculties-title">@Model.ChartDataList[5].sumFaculty</h1>
                <h4>Faculty</h4>
            </div>
            <div class="widget-icon">
                <img src="~/css/Manager/Widgets/faculty.png" />
            </div>
        </div>
    </div>
    <div class="div9">
        <h3 class="chart-name">Contributors Distribution by Faculties</h3>
        <canvas id="StackedBarChartContributions"
                style="width: 100%"></canvas>
    </div>
    <div class="div10">
        <h3 class="chart-name">Exceptions</h3>
        <canvas id="exception-doughnut-chart2" style="width:100%;height:80%"></canvas>

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* Chart 1 *@
<script>
    var chartDataForDoughnutChart = @Html.Raw(Json.Serialize(Model.ChartDataList[4]));
    var chartDataForMultipleLine = @Html.Raw(Json.Serialize(Model.ChartDataList[1]));
    var chartDataForSingleLine = @Html.Raw(Json.Serialize(Model.ChartDataList[0]));
    var chartDataForGroupBar = @Html.Raw(Json.Serialize(Model.ChartDataList[2]));
    var chartDataForStackedBar = @Html.Raw(Json.Serialize(Model.ChartDataList[3]));
</script>

<script>var chrt = document
        .getElementById("exception-doughnut-chart")
        .getContext("2d");
    var chartId = new Chart(chrt, {
        type: "doughnut",
        data: {
            labels: chartDataForDoughnutChart.doughnutChartData.labels,
            datasets: [
                {
                    data: chartDataForDoughnutChart.doughnutChartData.data,
                    backgroundColor: [
                        "#990011FF",
                        "#ffa0c5",
                        "pink",
                        "lightgreen",
                        "gold",
                        "lightblue",
                    ],
                    hoverOffset: 5,
                },
            ],
        },
        options: {
            responsive: false,
            legend: {
                display: true,
                position: "bottom",
            },
        },
    });</script>
<script>var chrt = document
        .getElementById("exception-doughnut-chart2")
        .getContext("2d");
    var chartId = new Chart(chrt, {
        type: "pie",
        data: {
            labels: [
                "HTML",
                "CSS",
                "JAVASCRIPT",
                "CHART.JS",
                "JQUERY",
                "BOOTSTRP",
            ],
            datasets: [
                {
                    label: "online tutorial subjects",
                    data: [20, 40, 13, 35, 20, 38],
                    backgroundColor: [
                        "yellow",
                        "aqua",
                        "pink",
                        "lightgreen",
                        "gold",
                        "lightblue",
                    ],
                    hoverOffset: 5,
                },
            ],
        },
        options: {
            responsive: false,
            legend: {
                display: true,
                position: "bottom",
            },
        },
    });</script>
<script>var ctx = document.getElementById("LineChartTotalContributions").getContext("2d");
    var gradient = ctx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, '#e4f3d3');
    gradient.addColorStop(1, '#5ca9e9');
    var LineChartTotalContributions_labels = chartDataForSingleLine.listTerms;
    new Chart("LineChartTotalContributions", {
        type: "line",
        data: {
            labels: LineChartTotalContributions_labels,
            datasets: [
                {

                    backgroundColor: gradient,
                    borderColor: gradient,
                    borderWidth: 2,
                    data: chartDataForSingleLine.totalContributions,
                    label: "Contributions"
                },
            ],
        },
        options: {
            responsive: false,
            legend: { display: false, },
            tension: {

            }
        },
    });</script>
@* Chart 1 *@


@* Chart 2 *@

<script>var LineChartContributions_labels = chartDataForMultipleLine.listTerms;
    // var borderColors = [
    //     "red", "blue", "green", "yellow", "orange", "purple", "cyan", "magenta",
    //     "brown", "lime", "pink", "teal", "lavender", "maroon", "olive", "navy",
    //     "aquamarine", "turquoise", "gold", "silver"
    // ];
    var borderColors = ["#ffd380", "#ffa600", "#ff8531", "#ff6361", "#bc5090", "#8a508f", "#2c4875", "#FF3366", "#003f5c", "#00202e"];
    var dataSets = [];

    for (var i = 0; i < chartDataForMultipleLine.multipleLineChartData.length; i++) {
        var setData = {
            label: chartDataForMultipleLine.multipleLineChartData[i].facultyName,
            data: chartDataForMultipleLine.multipleLineChartData[i].contributions,
            borderColor: borderColors[i],
            fill: false,
            lineTension: 0,
        };
        dataSets.push(setData);
    }

    new Chart("LineChartContributions", {
        type: "line",
        data: {
            labels: LineChartContributions_labels,
            datasets: dataSets,
        },
        options: {
            legend: { position: "bottom" },
            title: {
                display: false,
            },
        },
    });</script>
@* Chart 4 *@
<script>var StackedBarChartContributions_labels = chartDataForStackedBar.listTerms;
    var borderColors = [
        "#ff595e", "#ffca3a", "#8ac926", "#1982c4", "#6a4c93", "#ffadad", "#fdffb6", "#ffd6a5",
        "#caffbf", "#9bf6ff", "#a0c4ff", "#bdb2ff", "#ffc6ff", "maroon", "olive", "navy",
        "aquamarine", "turquoise", "gold", "silver"
    ];
    var dataSets = [];

    for (var i = 0; i < chartDataForStackedBar.stackBarChartData.length; i++) {
        var setData = {
            label: chartDataForStackedBar.stackBarChartData[i].facultyName,
            data: chartDataForStackedBar.stackBarChartData[i].contributions,
            backgroundColor: borderColors[i],
            fill: false
        };
        dataSets.push(setData);
    }
    new Chart("StackedBarChartContributions", {
        type: "bar",
        data: {
            labels: StackedBarChartContributions_labels,
            datasets: dataSets,
        },
        options: {
            responsive: false,
            legend: {
                position: "bottom", // place legend on the right side of chart
            },
            scales: {
                xAxes: [
                    {
                        stacked: true, // this should be set to make the bars stacked
                    },
                ],
                yAxes: [
                    {
                        stacked: true, // this also..
                    },
                ],
            },
        },
    });</script>
@* Chart 3 *@
<script>var GroupBarChartContributers_labels = chartDataForGroupBar.listTerms;
    var borderColors = [
        "#ffadad", "#ffd6a5", "#fdffb6", "#caffbf", "#9bf6ff", "#a0c4ff", "#bdb2ff", "#ffc6ff",
        "brown", "lime", "pink", "teal", "lavender", "maroon", "olive", "navy",
        "aquamarine", "turquoise", "gold", "silver"
    ];
    var dataSets = [];

    for (var i = 0; i < chartDataForGroupBar.groupBarChartData.length; i++) {
        var setData = {
            label: chartDataForGroupBar.groupBarChartData[i].facultyName,
            data: chartDataForGroupBar.groupBarChartData[i].contributors,
            backgroundColor: borderColors[i],
            fill: false
        };
        dataSets.push(setData);
    }
    new Chart("GroupBarChartContributers", {
        type: "bar",
        data: {
            labels: GroupBarChartContributers_labels,
            datasets: dataSets,
        },
        options: {
            responsive: false,
            legend: {
                position: "bottom", // place legend on the right side of chart
            },
            scales: {
                xAxes: [
                    {
                        stacked: false, // this should be set to make the bars stacked
                    },
                ],
                yAxes: [
                    {
                        stacked: false, // this also..
                    },
                ],
            },
        },
    });</script>
