@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@* <partial name="_Notification" /> *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenwichUniversityMagazine</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/mainLayout.css" asp-append-version="true" />
    
</head>
<body>
    <header id="header-main">
        <a asp-area="Student" asp-controller="Home" asp-action="Index"> 
        <img src="~/img/Layout/logo.png" alt="Greenwich University Logo" class="logo">
        </a>
        <div class="nav-container">
            <nav>
                <a asp-area="Student" asp-controller="Home" asp-action="Index">Home</a>
                @{
                    var userRole = Accessor.HttpContext.Session.GetString("UserRole");
                    if (userRole == "STUDENT")
                    {
                        <a asp-area="Student" asp-controller="Article" asp-action="Index">Article Management</a>
                    }
                    else if (userRole == "COORDINATE")
                    {
                        <a href="/Coordinate/Coordinate/Index">Article Management</a>
                    }
                    else if (userRole == "MANAGER")
                    {
                        <a asp-area="Manager" asp-controller="Dashboard" asp-action="Overview">Dashboard</a>

                    }
                    else if (userRole == "ADMIN")
                    {
                        <a asp-area="Admin" asp-controller="User" asp-action="Index">User Management</a>
                        <a asp-area="Admin" asp-controller="Term" asp-action="Index">Term Management</a>

                    }
                    <a href="#">Events</a>
                    <a asp-area="Student" asp-controller="Home" asp-action="About">About</a>
                    <a asp-area="Student" asp-controller="Home" asp-action="Contact">Contact</a>

                }

            </nav>
        </div>
        <div class="nav-container">
        @{
            var userId = Accessor.HttpContext.Session.GetString("UserId");
                var userEmail = Accessor.HttpContext.Session.GetString("UserEmail");
                var userName = Accessor.HttpContext.Session.GetString("UserName");
                var avtUrl = Accessor.HttpContext.Session.GetString("avtUrl");
             if (userId == null)
            {
                <div class="login-button-container">
                        <a asp-area="Student" asp-controller="Home" asp-action="Login" class="login-button">Sign In</a>
                </div>
                
            }
            else
            {
                    <div class="logned_bar">
                        <div class="notification_container">
                            <button id="fetchDataButton" class="notification_button">
                                @{
                                    if (ViewBag.CommentsCount == 0 || ViewBag.CommentsCount == null)
                                    {
                                    
                                    }
                                    else if (ViewBag.CommentsCount < 5 && ViewBag.CommentsCount != null)
                                    {
                                        <span class="notification_count">@ViewBag.CommentsCount</span>
                                    }
                                    else
                                    {
                                        <span class="notification_count">5+</span>
                                    }
                                }
                                <img src="~/css/Navigation/notification.png" class="notification_icon" />
                            </button>
                        </div>
                        <div id="partialViewContainer"></div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <div class="user-logo">
                                    @if (avtUrl == null)
                                    {
                                        <img src="~/css/Navigation/gw.png" alt="User image">
                                    }
                                    else
                                    {

                                        <img src="@avtUrl" alt="User Logo">
                                    }
                                </div>
                            </button>
                            <div class="dropdown-content">
                                <div class="black-header">
                                    <div class="user-image">
                                        @if (avtUrl == null)
                                        {
                                            <img src="~/css/Navigation/gw.png" alt="User image" class="user-logo-details">
                                        }
                                        else
                                        {
                                            <img src="@avtUrl" alt="User image" class="user-logo-details">
                                        }
                                    </div>
                                </div>
                                <div class="dropdown-content-header">


                                    <h4 class="dropdown-content-fullname">@userName</h4>
                                    <h4 class="dropdown-content-email">@userEmail</h4>
                                </div>
                                <a class="dropdown-content-child" asp-area="Student" asp-controller="Student" asp-action="EditProfile">
                                    <img src="~/css/Navigation/editprofile.png" />
                                    <h4>Edit Profile</h4>
                                </a>
                                <a class="dropdown-content-child" asp-area="Student" asp-controller="Student" asp-action="ChangePassword">
                                    <img src="~/css/Navigation/username.png" />

                                    <h4>Change Password</h4>
                                </a>
                                <a asp-area="Student" asp-controller="Home" asp-action="Logout" class="dropdown-content-child">
                                    <img src="~/css/Navigation/logout.png" />
                                    <h4>Log Out</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                // var userEmail = Accessor.HttpContext.Session.GetString("UserEmail");
                //     <a>@userEmail</a>
                // <a asp-area="Student" asp-controller="Home" asp-action="Logout">Logout</a>
            }
        }
        </div>

    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <button id="button-scroll-top" onClick="scrollToTop()">
        <img src="~/css/Manager/Button/scrollTop.svg" class="icon-scroll-top"/>
    </button>
    <footer>
        <div class="footer-root">
            <div class="footer-top-side">
                <div class="footer-div1">
                    <img src="~/img/Layout/logo.png" /> 
                </div>
                <div class="footer-div2">
                </div>
                <div class="footer-div3">
                </div>
                <div class="footer-div4"></div>
                <div class="footer-div5">
                </div>
                <div class="footer-div6">
                </div>
            </div>
            <div class="footer-bottom-side">
                <div class="footer-left-side">
                    <h4>
                        Copyright &copy; 2024 Greenwich University | All rights reserved
                    </h4>
                    <h4>658 Ngo Quyen, An Hai Bac, Son Tra, Da Nang</h4>
                    <h4>Phone Number: 02367302266</h4>
                </div>
                <div class="footer-right-side">
                    <a href="google.com">
                        <img src="~/img/Layout/Footer/icons/fb.svg" />
                    </a>
                    <a href="/"><img src="~/img/Layout/Footer/icons/github.svg" alt="icon" /></a>
                    <a href="/"><img src="~/img/Layout/Footer/icons/riot.svg" alt="icon" /></a>
                    <a href="/"><img src="~/img/Layout/Footer/icons/val.svg" alt="icon" /></a>
                    <a href="/"><img src="~/img/Layout/Footer/icons/csgo.svg" alt="icon" /></a>
                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
 
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@* Scroll To Top Button *@
<script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("button-scroll-top").style.display = "block";
        } else {
            document.getElementById("button-scroll-top").style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>

<script>
    $(document).ready(function () {
        // Variable to track if data is visible
        var dataVisible = false;

        // Click event handler for the button
        $('#fetchDataButton').click(function () {
            if (!dataVisible) {
                // If data is not visible, fetch and display
                $.ajax({
                    url: '/Coordinate/Coordinate/GetNotification',
                    type: 'GET',
                    success: function (data) {
                        $('#partialViewContainer').html(data);
                        $('#partialViewContainer').show(); // Show the container
                        dataVisible = true; // Update the flag
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            } else {
                // If data is visible, hide it
                $('#partialViewContainer').hide(); // Hide the container
                dataVisible = false; // Update the flag
            }
        });

        // Click event handler for clicking outside the table or container
        $(document).on('click', function (event) {
            if (!$(event.target).closest('#partialViewContainer').length &&
                !$(event.target).closest('#fetchDataButton').length) {
                $('#partialViewContainer').hide(); // Hide the container
                dataVisible = false; // Update the flag
            }
        });
    });
</script>

