@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@* <partial name="_Notification" /> *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenwichUniversityMagazine</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/mainLayout.css" asp-append-version="true" />

</head>
<body>
    <header>
        <img src="~/img/Layout/logo.png" alt="Greenwich University Logo" class="logo">
        <div class="nav-container">
            <nav>
                <a asp-area="Student" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="Student" asp-controller="Home" asp-action="Index">News</a>
                <a href="#">Events</a>
                <a asp-area="Student" asp-controller="Home" asp-action="About">About</a>
                <a href="#">Contact</a>
            </nav>
        </div>
        <div class="nav-container">
        @{
            var userId = Accessor.HttpContext.Session.GetString("UserId");
                var userEmail = Accessor.HttpContext.Session.GetString("UserEmail");
                var userName = Accessor.HttpContext.Session.GetString("UserName");
                var avtUrl = Accessor.HttpContext.Session.GetString("avtUrl");
             if (userId == null)
            {
                <div class="login-button-container">
                        <a asp-area="Student" asp-controller="Home" asp-action="Register" class="register-button">Sign Up</a>
                        <a asp-area="Student" asp-controller="Home" asp-action="Login" class="login-button">Sign In</a>
                </div>
                
            }
            else
            {
                <div class="logned_bar">
                        <div class="notification_container">
                            <button id="fetchDataButton" class="notification_button">
                                <span class="notification_count">1</span>
                                <img src="~/css/Navigation/notification.png" class="notification_icon" />
                            </button>
                        </div>
                        <div id="partialViewContainer"></div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <div class="user-logo">
                                @if(avtUrl==null){
                                        <img src="~/css/Navigation/gw.png" alt="User image">
                                    }
                                    else
                                    {

                                        <img src="@avtUrl" alt="User Logo">
                                    }
                                </div>
                            </button>
                            <div class="dropdown-content">
                            <div class="black-header">
                                    <div class="user-image">
                                        @if(avtUrl==null){
                                            <img src="~/css/Navigation/gw.png" alt="User image" class="user-logo-details">
                                        }
                                        else
                                        {
                                            <img src="@avtUrl" alt="User image" class="user-logo-details">
                                        }
                                    </div>
                            </div>
                                <div class="dropdown-content-header">
                            
                            
                                        <h4 class="dropdown-content-fullname">@userName</h4>
                                        <h4 class="dropdown-content-email">@userEmail</h4>
                                </div>
                                <a class="dropdown-content-child" asp-area="Student" asp-controller="Student" asp-action="EditProfile">
                                    <img src="~/css/Navigation/editprofile.png" />
                                    <h4>Edit Profile</h4>
                                </a>
                                <a asp-area="Student" asp-controller="Home" asp-action="Logout" class="dropdown-content-child">
                                    <img src="~/css/Navigation/logout.png" />
                                    <h4>Log Out</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                // var userEmail = Accessor.HttpContext.Session.GetString("UserEmail");
                //     <a>@userEmail</a>
                // <a asp-area="Student" asp-controller="Home" asp-action="Logout">Logout</a>
            }
        }
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2024 Greenwich University Forum. All rights reserved.</p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script>
    $(document).ready(function () {
        // Variable to track if data is visible
        var dataVisible = false;

        // Click event handler for the button
        $('#fetchDataButton').click(function () {
            if (!dataVisible) {
                // If data is not visible, fetch and display
                $.ajax({
                    url: '/Cordinate/Cordinate/GetNotification',
                    type: 'GET',
                    success: function (data) {
                        $('#partialViewContainer').html(data);
                        $('#partialViewContainer').show(); // Show the container
                        dataVisible = true; // Update the flag
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            } else {
                // If data is visible, hide it
                $('#partialViewContainer').hide(); // Hide the container
                dataVisible = false; // Update the flag
            }
        });

        // Click event handler for clicking outside the table or container
        $(document).on('click', function (event) {
            if (!$(event.target).closest('#partialViewContainer').length &&
                !$(event.target).closest('#fetchDataButton').length) {
                $('#partialViewContainer').hide(); // Hide the container
                dataVisible = false; // Update the flag
            }
        });
    });
</script>

