@model List<Comment>
@inject IHttpContextAccessor Accessor
@if (Model != null)
{
    <div class="notification_list_container">
        <h3 class="notification_heading">Notification</h3>
        <hr />
        <div class="notificationbody">
            @foreach (var comment in Model)
            {
                <a class="notification_list_child" asp-area="Student" asp-controller="Home" asp-action="RedectNotification" asp-route-id="@comment.Id">
                    <div class="notification_detail_container">
                        <h5 class="notification_title">@comment.Article.Title</h5>
                        <div class="notification_detail_wrapper">
                            <div class="user-logo-notification">
                                @{
                                    var userId = Accessor.HttpContext.Session.GetString("userId");
                                    if (comment.User.Role == "STUDENT")
                                    {
                                        <img src="@comment.User.avtUrl" alt="User Logo" />
                                    }
                                    else
                                    {
                                        <img src="~/css/Student/logo_greenwich.png" alt="User Logo" />
                                    }
                                }
                            </div>
                            <div class="notification-detail_description">
                                <h4 class="notification_description">
                                    New Comment: @comment.Description
                                </h4>
                                <h4 class="notification_timeUpdate">Time Update: @comment.Date</h4>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}