@* @model CoordinateVM
@{
    ViewData["Title"] = "Detail";
}
<link rel="stylesheet" href="~/css/Student/articless.css" />
<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>

<h1>Detail articless</h1>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="row">
                <input asp-for="@Model.articlesss.articlessId" hidden />
                <input asp-for="@Model.articlesss.SubmitDate" hidden />
                <input asp-for="@Model.resource.articlessId" hidden />
                <input asp-for="@Model.resource.Path" hidden />

            <div class="form-group">
                    <label class="control-label">Magazines Name</label>
                    <select disabled asp-for="@Model.articlesss.MagazinedId" class="form-control" asp-items="@Model.AvailableMagazines"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Name of articless: </label>
                <input disabled asp-for="@Model.articlesss.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Subtitle: </label>
                <input disabled asp-for="@Model.articlesss.SubTitle" class="form-control" />
                </div>
                <div class="row mb-3">
                    <label>Image Head</label>
                <img class="col-2" src="@Model.articlesss.imgUrl" />
                </div>
            <div class="form-group">
                <label class="control-label"></label>
                <textarea disabled id="content" asp-for="@Model.articlesss.Body" class="form-control">@Model.articlesss.Body</textarea>
                <span asp-validation-for="@Model.articlesss.Body" class="text-danger"></span>
            @foreach (var resource in Model.ListResource)
            {
                var fileName = System.IO.Path.GetFileName(resource.Path);
                var relativePath = Url.Content($"~/Resource/articless/{resource.articlessId}/{fileName}"); // Đường dẫn tương đối đến tệp PDF
                <div class="resource-item">
                    <a href="@relativePath" target="_blank" type="application/pdf">@fileName</a>
                </div>
            }
                <hr />
            </div>
        <></>
    </div>
</div>
<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    CKEDITOR.replace('content');
</script>
 *@
@model CoordinateVM
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Update";
}
<link rel="stylesheet" href="~/css/Student/Article.css" />
<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<div class="card shadow border-2 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Article Detail</h2>
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="">
                <input asp-for="@Model.articles.ArticleId" hidden />
                <input asp-for="@Model.articles.SubmitDate" hidden />
                <div class="form-group custom-select" style="width:200px;">
                    <select asp-for="@Model.articles.MagazinedId" class="form-control" disabled asp-items="@Model.AvailableMagazines">
                        <option value="">--Choose Magazines--</option>
                        @foreach (var magazine in Model.AvailableMagazines)
                        {
                            <option value="@magazine.Value">@magazine.Text</option>
                        }
                    </select>
                </div>
                <div class="input-container">
                    <input disabled asp-for="@Model.articles.Title" type="text" id="input" required="">
                    <label for="input" class="label" style="margin-top: -10px;">Articles Name</label>
                    <div class="underline"></div>
                </div>
                <div class="input-container">
                    <input disabled type="text" id="input" asp-for="@Model.articles.SubTitle" required="" />
                    <label for="input" class="label" style="margin-top: -10px;">Subtitle</label>
                    <div class="underline"></div>
                </div>

                <div class="body-container">
                    <label for="input" class="label">Image: </label>
                    <br />
                    <img class="img-select" src="@Model.articles.imgUrl" id="output" />
                </div>
                <div class="body-container">
                    <label for="input" class="label"></label>
                    <textarea disabled id="content" asp-for="@Model.articles.Body" class="form-control">@Model.articles.Body</textarea>
                </div>
                <div class="body-container separator"><strong>Current Documents</strong> </div>
                <input class="input-container file-container" id="filesDeleteInput" name="filesDelete" multiple style="display:none" />
                <div class="file-container">
                    @if (Model.ListResource != null)
                    {
                        @foreach (var resource in Model.ListResource)
                        {
                            var fileName = System.IO.Path.GetFileName(resource.Path);
                            var relativePath = Url.Content($"~/Resource/Article/{resource.ArticleId}/{fileName}"); // Đường dẫn tương đối đến tệp PDF
                            <div class="resource-item">
                                <a href="@relativePath" class="old-item"  target="_blank" type="application/pdf">@fileName</a>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No files attached</p>
                    }
                </div>
            </div>
        </form>
        <div class="body-container">
            <div class="separator"><strong>Comment</strong> </div>


            @foreach (var comment in Model.MyComments)
            {
                <div class="comment-private">
                    <div class="avatar-coordinate">
                        @{
                            var avtUrl = Accessor.HttpContext.Session.GetString("avtUrl");
                            @if (comment.UserId.ToString() == Accessor.HttpContext.Session.GetString("UserId"))
                            {
                                <img src="@avtUrl" alt="Avatar" class="avatar-coordinate-img">
                            }
                            else
                            {
                                <img src="~/css/Student/logo_greenwich.png" alt="Avatar" class="avatar-coordinate-img">
                            }
                        }

                    </div>
                    <div class="comment-content">
                        <a class="box">
                            <strong>
                                @if (comment.UserId.ToString() == Accessor.HttpContext.Session.GetString("UserId"))
                                {
                                    var userName = Accessor.HttpContext.Session.GetString("UserName");
                                    <span class="comment-value">@userName</span>
                                }
                                else
                                {
                                    <span class="comment-value">Student</span>
                                }
                            </strong> - <span class="comment-value">@comment.Date</span>
                        </a>
                        <hr>
                        <div class="card__content">
                            @comment.Description
                        </div>
                    </div>
                </div>

            }
            <div class="comment-input">
                <textarea id="commentTextArea" placeholder="Enter your comment..." rows="4"></textarea>
                <button class="pushable" onclick="coordinateComment()">Send Comment</button>
            </div>

        </div>
    </div>
</div>
<hr />

@section Scripts
{
    <script src="@Url.Content("~/js/Student/Article/Create.js")"></script>
}


<div>
    <a asp-action="Index">Back to List</a>
</div>


