@model List<Term>
<link rel="stylesheet" href="~/css/User/Index.css" />
<style>
    .modal-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .modal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
</style>
@* <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> *@
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Term Management</h2>
            </div>
        </div>
    </div>
    <div class="modal-container">
        <button type="button" class="btn btn-primary btn-sm d-inline" data-toggle="modal" data-target="#exampleModal">Create Term</button>
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form method="post" asp-action="Create">
                            <div class="border p-3 mt-4">
                                <div class="form-group row">
                                    <div class="form-inline">
                                        <label for="year" class="mr-2">Year:</label>
                                        <select id="year" name="Year" class="form-control mr-2">
                                            <option value="">Select Year</option>
                                            @for (int year = DateTime.Now.Year; year <= DateTime.Now.Year + 100; year++)
                                            {
                                                <option value="@year">@year</option>
                                            }
                                        </select>
                                        <label for="season" class="mr-2">Season:</label>
                                        <select id="season" name="Season" class="form-control mr-2">
                                            <option value="Spring">Spring</option>
                                            <option value="Summer">Summer</option>
                                            <option value="Fall">Fall</option>
                                            <option value="Winter">Winter</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-body p-5">
        <div class="card-body p-4">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>StartDate</th>
                            <th>EndDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {

                            @if (obj.IsDeleted == false)
                            {
                                <tr>
                                    <td>@obj.Id</td>
                                    <td>@obj.Name</td>
                                    <td>@obj.StartDate</td>
                                    <td>@obj.EndDate</td>
                                    <td class="w-75 btn-group" role="group">
                                        <a asp-controller="Term" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger mx-1">
                                            <i class="bi bi-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
